html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica, snas-serif;
  font-weight: 100;
  line-height: 1.6em;
  font-size: 0.8em;
}
canvas {
  display: block;
}
snippet {
  background: #ffffffdd;
  position: absolute;
  bottom: 3em;
  right: 4em;
  width: 25em;
  padding: 2.5em 2.4em 5em;
}
snippet h1{
  margin: 0;
  padding-bottom: 0.8em;
}
