* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-family: helvetica, sans-serif;
}
body,h1,h2,p,a{
    color: #eee;
}
a,p {
    color: #000;
}
body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
}
container{
    margin: auto;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #000000bb;
}
main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
header, content, footer{
    padding: 1rem;
    display: block;
    border-radius: 2px;
}
header, content {
    position: absolute;
    top: 3em;
    bottom: 3em;
    width: 50%;
    max-width: 40em;
}
header,footer{
    background: #000000;
}
header {
    right: 49%;
    top: 5em;
    left: auto;
    height: 40rem;
    width: 40rem;
    background: #ca2b4bbb;
    box-shadow: 25em 5em 0em #ffffffcc;
}
content {
    right: auto;
    left: 49%;
    padding: 4em;
    background: #ffa384bb;
}
content div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
}
footer{
    position: absolute;
    bottom: 0;
    top: auto;
    right: 0;
    font-weight: 100;
    font-size: 0.75rem;
    height: 4em;
}
h1 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
}
a {
}
h1 span{
    font-size: 1rem;
    font-weight: 100;
    opacity: 0.75;
}
h2{
}
p {
    padding: 1em 1em 2em;
    font-weight: 100;
    line-height: 1.7em;
    font-size: 0.8em;
}
