html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica, snas-serif;
  font-weight: 100;
  line-height: 1.3em;
  font-size: 0.8em;
}
canvas {
  display: block;
}
snippet {
  background: #ffffffc2;
  position: absolute;
  bottom: 3em;
  right: 4em;
  width: 20em;
  padding: 2em 2.3em;
}
snippet h1{
  margin: 0;
  padding-bottom: 0.8em;
}
