* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
container{
    max-width: 60em;
    margin: auto;
    padding: 2em;
    position: relative;
}
header, content, footer{
    padding: 1rem;
}
